src/main/app/jms-ordered-delivery.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<jms:activemq-connector name="activemq-retry-single-node"
		brokerURL="tcp://localhost:61616" validateConnections="true"
		maxRedelivery="5" numberOfConcurrentTransactedReceivers="1" doc:name="Active MQ">
		<service-overrides
			transactedMessageReceiver="org.mule.transport.jms.GuaranteeOrderDeliveryMessageReceiver"
			messageReceiver="org.mule.transport.jms.GuaranteeOrderDeliveryMessageReceiver" />
	</jms:activemq-connector>

	<jms:activemq-connector name="activemq-retry"
		brokerURL="tcp://localhost:61616" validateConnections="true"
		maxRedelivery="5" doc:name="Active MQ">
	</jms:activemq-connector>

	<flow name="jms.retry.single.node.in" doc:name="jms.retry.single.node.in">
		<jms:inbound-endpoint connector-ref="activemq-retry-single-node"
			doc:name="jms.retry.single.node.in" queue="jms.retry.single.node.in">
			<jms:transaction action="ALWAYS_BEGIN" />
		</jms:inbound-endpoint>
		<logger message="++++++++++++ In Process Message ++++++++++++"
			level="INFO" doc:name="Process" />

		<scripting:component doc:name="Fake Exception">
			<scripting:script engine="Groovy"><![CDATA[throw new Exception('Fake Exception')]]></scripting:script>
		</scripting:component>
		<rollback-exception-strategy
			maxRedeliveryAttempts="5" doc:name="Rollback Exception Strategy">
			<logger
				message="******************* Retry #[message.inboundProperties['JMSXDeliveryCount'] != null ? message.inboundProperties['JMSXDeliveryCount']:1] *******************"
				level="INFO" doc:name="Retry" />
			<expression-component doc:name="Expression"><![CDATA[#[flowVars.flowname = flow.name; return payload]]]></expression-component>

			<tracking:custom-event event-name="jms.rety"
				doc:name="jms.rety">
				<tracking:meta-data key="jms.rety.count"
					value="#[message.inboundProperties['JMSXDeliveryCount'] != null ? message.inboundProperties['JMSXDeliveryCount']:1]" />
			</tracking:custom-event>
            <choice doc:name="Choice">
            	<when expression="message.inboundProperties['JMSXDeliveryCount'] != null &amp;&amp; message.inboundProperties['JMSXDeliveryCount'] &gt;4">
            		<logger message="retries over 5" level="INFO" doc:name="Logger"/>
            		<logger message="Payload before stop() #[payload]" level="INFO"
					doc:name="Logger" />
				<scripting:component doc:name="Groovy">
					<scripting:script engine="Groovy"><![CDATA[muleContext.registry.lookupFlowConstruct(flowname).stop()]]></scripting:script>
				</scripting:component>
				<logger message="Payload after stop() #[payload]" level="INFO"
					doc:name="Logger" />
            	</when>
                <otherwise>
                    <logger level="INFO" message="Retry again." doc:name="Logger"/>
                </otherwise>
            </choice>
			<on-redelivery-attempts-exceeded
				doc:name="Redelivery exhausted">
				<logger message="--------------- Redelivery Exhaused ---------------"
					level="INFO" doc:name="Redelivery Exhaused" />
				<tracking:custom-event event-name="jms.retries.exhausted"
					doc:name="jms.retries.exhausted" />
				
			</on-redelivery-attempts-exceeded>
		</rollback-exception-strategy>

	</flow>
	<flow name="jms.single.consumer.single.node" doc:name="jms.single.consumer.single.node"
		processingStrategy="synchronous">
		<jms:inbound-endpoint queue="jms.single.consumer.single.node"
			doc:name="jms.single.consumer" connector-ref="activemq-retry-single-node">
			<jms:transaction action="ALWAYS_BEGIN" />
		</jms:inbound-endpoint>
		<logger
			message="++++++++++++ In Process Message Number: #[payload] ++++++++++++"
			level="INFO" doc:name="Process" />
	</flow>
	<flow name="jms.consumer" doc:name="jms.consumer"
		processingStrategy="synchronous">
		<jms:inbound-endpoint queue="jms.consumer"
			doc:name="jms.consumer" connector-ref="activemq-retry">
			<jms:transaction action="ALWAYS_BEGIN" />
		</jms:inbound-endpoint>
		<logger
			message="++++++++++++ In Process Message Number: #[payload] ++++++++++++"
			level="INFO" doc:name="Process" />
	</flow>
	<flow name="jms.single.consumer.single.node.trigger" doc:name="jms.single.consumer.single.node.trigger">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="${http.port}" path="triggersingle" doc:name="/triggersingle" />
		<scripting:transformer doc:name="Groovy">
			<scripting:script engine="Groovy"><![CDATA[def result = []
for(i in 1..50){
	result.add(i)
}
println result
return result]]></scripting:script>
		</scripting:transformer>
		<foreach doc:name="For Each">
			<object-to-string-transformer doc:name="Object to String" />
			<remove-property propertyName="Content-Type"
				doc:name="Remove Content-Type" />
			<jms:outbound-endpoint connector-ref="activemq-retry"
				queue="jms.single.consumer.single.node" doc:name="jms.single.consumer.single.node" />
		</foreach>
		<object-to-string-transformer doc:name="Object to String" />

	</flow>

	<flow name="jms.trigger" doc:name="jms.trigger">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="${http.port}" path="trigger" doc:name="/trigger" />
		<scripting:transformer doc:name="Groovy">
			<scripting:script engine="Groovy"><![CDATA[def result = []
for(i in 1..50){
	result.add(i)
}
println result
return result]]></scripting:script>
		</scripting:transformer>
		<foreach doc:name="For Each">

			<object-to-string-transformer doc:name="Object to String" />
			<remove-property propertyName="Content-Type"
				doc:name="Remove Content-Type" />
			<jms:outbound-endpoint connector-ref="activemq-retry"
				queue="jms.consumer" doc:name="jms.consumer" />
		</foreach>
		<object-to-string-transformer doc:name="Object to String" />

	</flow>



</mule>
